.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
  margin: 0;
  padding: 0;
  border: none;
  border-spacing: 0;
}

.ui-datepicker {
  display: none;
  width: 265px;
  padding: 20px;
  cursor: default;
  font-size: 12px;

  background: #1e1f25;
  border-radius: 3px;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
}

.ui-datepicker-title {
  color: #CCCCCC;
}

.ui-datepicker-header {
  position: relative;
}

.ui-datepicker-month {
  position: relative;
  font-weight: 700;
}

.ui-datepicker-year {
  padding-left: 8px;
  font-weight: 700;
  color: #CCCCCC;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  display: block;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  position: absolute ;
  top: -6px;
}
.ui-datepicker-prev {
  right: 24px;
}

.ui-datepicker-next {
  right: 0;
}
.ui-datepicker-next::after, .ui-datepicker-prev::after {
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
}

.ui-datepicker-prev::after{
  background-image: url(../img/arrow-left.svg);
}

.ui-datepicker-prev:hover::after{
  background-image: url(../img/arrow-left-active.svg);
  cursor: pointer;
}

.ui-datepicker-next::after {
  background-image: url(../img/arrow-right.svg);
}

.ui-datepicker-next:hover::after{
  background-image: url(../img/arrow-right-active.svg);
  cursor: pointer;
}

.ui-datepicker-calendar th {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 700;
  color: #CCCCCC;
}

.ui-datepicker-calendar td {
  padding: 0 3px;

  text-align: center;
  line-height: 26px;
}

.ui-datepicker-calendar .ui-state-default {
  display: block;
  width: 26px;
  height: 26px;
  outline: none;

  text-decoration: none;
  color: #CCCCCC;

  border: 1px solid transparent;
}

.ui-datepicker-calendar .ui-state-active {
  color: #ffffff;
  border: 1px solid #45BF6C;
  background-color: #45BF6C;
  border-radius: 50%;
}

.ui-datepicker-other-month .ui-state-default {
  color: #565656;
}
